/* .fruit-item{
    height: 200px;
    width: 56%;
    background-color: red;
    margin: auto;
    position: relative;
    bottom: 400px;
} */
.del{
    font-size: 6px;
}
.box{
    border: 1px solid black;
}
.box-1{
    height: 10px;
    width: 20%px;
    border: 1px solid gray;

}